<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Login</h1>
      </ion-header-bar>

<br>
<p>See the BlueSky behind your clouded and jumbled thoughts. Clarify your intentions with us today!</p>
<br><br><br>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="Username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password">
  </label>
</div>
<br><br>
<div align="center">
  <a href="/home"><button class="button button-large button-positive" style="width: 70%; height: 50%;">
  Login
</button></a>
<br><br>
<a href="/register.html"><button class="button button-large button-balanced" style="width: 70%; height: 50%;">
  Register
</button></a>
</div>
</ion-pane>
  </body>
</html>
