<!doctype html>

<html ng-app>
<head>
	<meta charset="utf-8">
	<title>A5 Skeleton</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div style="display:flex">
<div align="left" style="width:20%"><a href="my-account.html">My Account</a></div>
<div align="center" style="width:60%"><a href="stats.html">Statistics</a></div>
<div align="right" style="width:20%"><a href="/">Start new task</a></div>
</div>
<div align="center">
<h1>Home</h1>


</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
